[Desktop Entry]
Name=EasyBank
Name[sv]=EasyBank
GenericName=Budget App
GenericName[sv]=Budgetapp
Comment=Visual budget app with pictograms
Comment[sv]=Visuell budgetapp med piktogram
Exec=easybank
Icon=easybank
Terminal=false
Type=Application
Categories=Office;Finance;
Keywords=budget;money;economy;pengar;ekonomi;
StartupNotify=true
